* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#nav-wrapper {
    width: 100%;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 3rem;
}

/* For site-name */
#nav-wrapper span {
    color: black;
    padding-top: 25px;
    margin-left: 2rem;

}


/* For menu-bars */
.fa-bars {
    color: black;
    padding-right: 2rem;
    padding-top: 25px;
    margin-right: 4rem;
}

.hero-section {
    width: 500px;
    height: 12rem;
    margin-top: 7rem;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hero-section .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;

}

.hero-section .skillz {
    background-color: aqua;
    text-align: center;
    width: 500px;
    height: 2rem;
    display: block;
    margin-right: auto;
    position: relative;
    margin-top: 10px;
}

.skillz span{

    font-size: 10px bold;
    text-align: center;
    color: black;
    font-weight: 300;
    padding-top: 5px;
    padding: 10px;

}

.intro span {
    font-size: 30px bold;
    text-align: center;
    color: black;
    font-weight: 300;

}

.profile-picture {
    position: absolute;
    top: 0;
    left: .1rem;
    z-index: 1;
}


.profile-picture img {
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 30px;
    padding-top: 1px;
    float: left;

}

/* .content-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10rem;
    background-image: url(images/component2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
} */

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/component2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;

    margin-right: 3rem;
    margin-left: 3rem;
}

.content-section-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.column {
    flex: 1;
    margin: 0 1rem;
    text-align: center;
    background-color: #333;
    padding: 1rem;
    border-radius: 8px;
    color: white;
}

/* 
.Design {
     margin-right: 3rem;
    margin-right: 3rem;
}

.E-Commerce {
    background-color: #2ecc71;
}

.Wordpress {
    background-color: #e74c3c;
} */



/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
    #nav-wrapper {
        width: 100%;
        display: flex;
        padding-left: .1rem;
        margin: 0;
    }

    .hero-section {
        width: 100%;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 40px;
    }

    .profile-picture img {
        width: 230px;
        height: 230px;
        padding: 10px;


    }

    .hero-section .skillz {
        width: 90%;
        height: 12rem;
        top: 50px;
        margin-left: 1rem;
        height: 2rem;
        padding: .2rem;


    }

    .content-section .content-section-info {
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
        height: fit-content;
    }
}