
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#nav-wrapper{
    width: 100%;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    margin-right: 3rem;
}
/* For site-name */
#nav-wrapper span{
    color: black;
    padding-left:.8rem;
    padding-top: 25px;
    margin-left: 4rem;
    
}


/* For menu-bars */
.fa-bars{
    color: black;
    padding-right:2rem;
    padding-top: 25px;
    margin-right: 4rem;
}

.hero-section{
    width: 450px;
    height: 12rem;
    margin-top: 7rem;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
}

.hero-section .intro{
    display: block;
    width:500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
   
}

.hero-section .skillz{
    background-color: aqua;
    width: 500px;
    height: 2rem;
    margin-left:12px;
    margin-right: auto;
    text-align: center;
    padding-left: 20px;
    position: relative;
    margin-top: 10px;
}

.hero-section .skillz span, .intro span{
    font-size: 20px bold;
    margin-left: 17rem;
}

.profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}


.profile-picture img{

    width: 200px;
    height: 250px;
    position: absolute;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 10px;
    left: 0;
    float: left;
    margin-top: 0;
    
}

.content-section {
    width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 50vh; /* Adjust this value for vertical centering */
    color: white;
    background-image: url(images/component2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.content-section .info{
    
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}


/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
{
    #nav-wrapper
    {
        width: 100%;
        display: flex;
        padding-left:.1rem;
        margin: 0; 
    }

    .hero-section{
        width: 100%;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 40px;
    }

    .profile-picture img{
        width: 230px;
        height: 230px;
        padding: 10px;

    
    }

    .hero-section .skillz{
        width: 90%;
        height: 12rem;
        top:50px;
        margin-left: 1rem;
        height: 2rem;
        padding: .2rem;
       
        
    }

    .content-section .content-section-info{
        width:100%;
        gap: 10px;
        flex-wrap: wrap;
        height: fit-content;
    }
}
